# --- Bibliotecas Principais de Data Science ---
pandas==2.1.4
numpy==1.26.3
scikit-learn==1.3.2
matplotlib==3.8.2

# --- Bibliotecas para Modelagem de Séries Temporais ---
# Para o modelo ARIMA e datasets
statsmodels==0.14.1

# Para a busca automática de parâmetros do ARIMA (auto_arima)
pmdarima==2.0.4

# Para os modelos de Deep Learning (N-BEATS, MLP, LSTM, Autoformer)
neuralforecast==1.7.0
torch==2.1.2

# --- Utilitários e Ambiente de Notebook ---
tqdm==4.66.1
jupyterlab==4.0.10
ipython==8.18.1